html,
body {
  margin: 0;
}
h1 {
  margin-left: 10%;
  margin-right: 10%;
}
.maxvh{
  position: relative;
  max-height: 100%;
}
.w100{
  width: 100%;
}
.text {
  color: goldenrod;
  text-shadow: 1px 1px 1px black;
  font-size: 4vw;
  list-style-type: none
}
.flex{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.flexc{
  flex-direction: column;
}
.color1 {
  position: absolute;
  top: 0;
  height: 100%;
}
.color2 {
  background: radial-gradient(#7cc1de, #077de1, #4c115b);
  height: 100%;
}
.block {
  width: 45%;
  margin: 3%;
}
.margintb{
  margin-top: auto;
  margin-bottom: auto;
}
img {
  display: block;
  width: 95%;
  height: 95%;
  object-fit: contain;
}
.imgProduct {
  width: auto;
  height: auto;
  margin: 0;
}
.pr{
  position: relative;
}
.border {
  border: solid 2px blueviolet;
  text-align: center;
}
.characteristic {  
  overflow: visible;
  text-align: center;
  border-radius: 50%;
  width: 30%;
  margin: 5px auto;
}
label.text {
  font-size: 2vw;
  position: absolute;
  bottom: 0;
}
.characteristic::before {
  content: "";
  position: absolute;
  top: -2px;
  width: 100%;
  bottom: -2px;
  left: -2px;
  right: -2px;
  margin-right: auto;
  margin-left: auto;
  background: radial-gradient(
    rgba(200, 124, 247, 0) 66%,
    rgba(200, 124, 247, 1) 66%
  );
  border-radius: 50%;
}
.photo{  
  margin-right: auto;
  margin-left: auto;
  width: 20%;
}
.revieww{
  justify-content: flex-start;
overflow: auto;
scroll-snap-type: x mandatory;
}
.review{  
  flex-shrink: 0;
  scroll-snap-align: start;
}
.description{
  max-width: 50%;
}
.promop2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.promo2{
  flex-direction: column;
}
.ch{
  width: 95%;
}
.price{
  overflow: hidden;
}
.price:before {
  border-bottom: 3px solid red;
  left: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  transform: rotate(-7deg);
  }
  input{
    width: 90%;
    margin: 10px;
  }
  a{
    width: 100px;
    background-color: red;
    position: fixed;
    bottom:10%;
    right: 10%;
  }